.main-footer .feed-footer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 999;
}

#loader-icon {
    position: fixed;
    display: none;
}
#scroll-end {
    display: none;
}
.typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 8px;
    /*font-size: 24px;*/
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 100%;
    z-index: 999;
}
.typeahead {
    background-color: #FFFFFF;
}
.typeahead:focus {
    border: 2px solid #0097CF;
    z-index: 999;

}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    z-index: 999;

}
.tt-hint {
    color: #999999;
}
.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    /*width: 422px;*/
    z-index: 2050;
}
.tt-suggestion {
    /*font-size: 24px;*/
    line-height: 24px;
    padding: 3px 20px;
    z-index: 2050;

}
.tt-suggestion.tt-is-under-cursor {
    background-color: #0097CF;
    color: #FFFFFF;

}
.tt-suggestion p {
    margin: 0;
    z-index: 999;

}
.pointer{
    cursor: pointer;
}