<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="box box-success">
            <div class="box-header with-border">
                <h5 class="box-title"><strong>[[FROM]]</strong> -> <strong>[[TO]]</strong></h5>

            </div>
            <div class="box-body">
                <div class="box" style="border: 0;">
                    <div class="box-tools pull-right">
                        <!-- Buttons, labels, and many other things can be placed here! -->
                        <!-- Here is a label for example -->
                        <span class="label label-[[ACTION_CSS]] pointer" onclick="[[ACTION_CLICK]]">[[ACTION]]</span>
                    </div>
                    <div class="box-body">
                        [[CONTENT]]
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="row">
                    <div class="col-xs-2">
                            <img src="assets/img/noun_1576347_cc.png" class="img-circle img-bordered-sm pointer" width="30px" alt="Dab" style="transition: all 0.8s;" id="trigger-[[POST_ID]]" onclick="likePost('[[POST_ID]]');">
                    </div>
                    <div class="col-xs-1 ">
                        <div id="likes-[[POST_ID]]">[[LIKES]]</div>
                    </div>
                </div>
            </div>
            <!-- /.box-footer -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col-md-8 col-md-offset-2 -->
</div>
<!-- /.row -->
